.tag-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px;
}

.tag {
  background: white;
  padding: 5px;
  border-radius: 4px;
}

.tag > p {
  margin: 0px;
  font-family: sans-serif;
}
